@* Injection of a custom HtmlHelper defined in the FormattingServices Model -
   1st parameter - the type to be injected
   2nd parameter - the name of the property to create *@
@inject LearningAspDotNetCoreMVC.Models.FormattingService Format

@* Define the model which will be used by this view. *@
@model LearningAspDotNetCoreMVC.Models.Post

<article class="blog-post">
    <h1>
        @Html.ActionLink(Model.Title, "Post", "Blog",
            new { year = Model.Posted.Year, month = Model.Posted.Month, key = Model.Key }
        )
    </h1>
    <div class="details">
        @* Here the custom HtmlHelper is called using 'Format'*@
        Posted <span>@Format.AsReadableDate(Model.Posted)</span> by <span>@Model.Author</span>
    </div>
    <div class="content">
        @Model.Body
    </div>
</article>
